head {
    background-color: rgb(39, 29, 97);
    color: rgb(57, 23, 88);
}
body {
    background-color: aqua;
    color: rgb(117, 61, 170);
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}

div.class {
    
}
.chess-table{
    height: 400px;
    width: 400px;
    display: flex;
    border: 3px, solid rgb(39, 29, 97);
}

