head {
    color: rgb(57, 23, 88);
}
body {
    background-color: aqua;
    color: rgb(117, 61, 170);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;

}

div.chessboard {
    height:fit-content;
    width:fit-content;
    display: flex;
    border: 25px, solid rgb(39, 29, 97);
}

